body{
    background-color: #00c1c1
  }


#myBox {
    position: absolute;
    left: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 150px;
    border-radius: 25px;
    overflow: hidden;
    border: 10px solid black;
}

#myBox img {
    width: 100%;
    height: auto;
}

#myBox2 {
    position: absolute;
    left: 1%;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 417px;
    height: 479px;
    border-radius: 25px;
    overflow: hidden;
    border: 0px solid black;
}

#botonCuenta {
    background-color: #09ff00;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 150px;
    height: 60px;
}

#botonCuenta p {
    font-size: 20px;
    position: absolute;
    top: -12px;
}

#texto2 {
    position: absolute;
    top: 12px; 
    left: 20px;
    font-size: 140%;
    color: rgb(255, 255, 255);
}

#cuadro-inf {
    position: absolute;
    display: flex;
    left: 35%;
    top: 225px;
    justify-content: center;
    align-items: center;
    width: 475px;
    height: 386px;
    border-radius: 25px;
    overflow: hidden;
    border: 10px solid black;
}

#fondo-de-texto {
    position: absolute;
    left: -2%;
    top: -8px;
    display: flex;
    width: 482px;
    height: 82px;
    border-radius: 25px;
    border: 5px solid black;
    background-color: black;
}
#but1 {
    position: absolute;
    left: 75%;
    top: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 150px;
    border-radius: 25px;
    overflow: hidden;
    border: 10px solid black;  
}
#but2 {
    position: absolute;
    left: 75%;
    top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 150px;
    border-radius: 25px;
    overflow: hidden;
    border: 10px solid black;  
}
#but3 {
    position: absolute;
    left: 75%;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 150px;
    border-radius: 25px;
    overflow: hidden;
    border: 10px solid black;  
}
#but1 img {
    width: 100%;
    height: auto;
}
#but2 img {
    width: 100%;
    height: auto;
}
#but3 img {
    width: 100%;
    height: auto;
}