body{
    background-color: #008AC1;
  }


#myBox {
    position: absolute;
    left: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 150px;
    border-radius: 25px;
    overflow: hidden;
    border: 10px solid black;
}
#myBox img {
    width: 100%;
    height: auto;
}

  
    
    
    
    
    
    
    



    


#cuadro-inf {
    position: absolute;
    left: 32%;
    top: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 475px;
    height: 386px;
    border-radius: 25px;
    overflow: hidden;
    border: 10px solid black;
}